{% load staticfiles %}
{% load thumbnail %}
{% load basket_total %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Ecommerce site {% endblock %}</title>
    {% block mainstyles %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/shop-item.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
    {% endblock %}

</head>

<body>
    <!-- Navigation -->
    {% block header %}
    {% include "header.html" %}
     <div class="messages">
    {% if messages %}
        {% for message in messages %}
        <div class='alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>

        {% endfor %}
    {% endif %}
    </div>
    {% endblock%}


    <!-- Page Content -->
    <div class="container">

        {% block breadcrumb %}

        {% endblock %}

        {% block content %}

        {% endblock%}

    </div>
    <!-- /.container -->
    {% block footer %}
        {% include "footer.html" %}
    {% endblock%}

    <!-- /.container -->

    {% block main_javascript %}
    <script src="{{ STATIC_URL }}js/jquery.js" ></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js" ></script>
    <script type="text/javascript">
    $(document).ready(function () {
      setTimeout(function() {
        $(".messages .alert-success").fadeTo(2000, 500).slideUp(500, function(){
          $(".messages .alert-success").alert('close');
        });
      }, 2000);
    });
    </script>
    {% endblock %}

    {% block javascript %}

    {% endblock %}

</body>

</html>
