{% load basket_total %}
{% load util_tags %}

<nav class="navbar navbar-default" role="navigation">
    <div class="header-img">
        <img id="logo-main" src="{{ STATIC_URL }}img/logo.gif" width="305" alt="Logo Thing main logo">
    </div>

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'home' %}{% else%}{% url 'user-login' %}{% endif %}">Cinnamon Hills Student Gift Store</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="{% active_if 'about' %}">
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li class="{% active_if 'event' %}">
                    <a href="{% url 'event' %}">Event</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Contact</a>
                </li>
                <li class="{% active_if 'add_to_basket' %}">
                    <a href = "{% url 'add_to_basket' %}" ><b>Cart</b>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% parent_student_name  request.user as child_names %}
                {% if child_names %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome,{{request.user}}<span class="caret"></span></a>
                  <ul class="dropdown-menu ">
                  <li>You are Purchasing gift-</li>
                <li ><a href="{% url 'welcome' %}"> Goto Welcome Page</a></li>
                {% for child_name in child_names %}
                    <li ><a href="#">{{child_name.to_person.user.username}}</a></li>
                {% endfor %}
                  </ul>

                </li>
                {% else %}
                <li><a href="{% url 'welcome' %}">Please select user</a></li>
                {% endif %}
            </ul>
        </div>
        {% else %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="{% active_if 'user-login' %}">
                        <a href="{% url 'user-login' %}">Login</a>
                    </li>
                </ul>
        </div>
        {%endif%}
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
