{% extends "base.html" %}
{% block content %}
{% load basket_total %}

<form class = "form-horizontal" action="." method="post">
{% csrf_token %}
   <div class = "form-group">
      <div class = "col-sm-offset-2 col-sm-10">
    {% if user.is_authenticated %}


    {% current_user_count request.user.id  as current_user_count  %}
    <strong>Welcome, </strong>{{request.user.username}},To the Cinnamonhills Gift store
    <div>Your item Count is-{{current_user_count.product_count}} and price limit -{{current_user_count.product_price_limit}}$</div>
    {% parent_student_name  request.user as child_names %}
      {% for child_name in child_names %}

         <div>
            <h3>
            <strong>{{child_name.to_person.user.username|title}}:</strong>
            </h3>
            {% student_event child_name.to_person_id as events %}
            {% if events %}
            <ul>
            {% for event in events %}
            {% if event.is_past_due %}
            <div class="bg-danger">
                {% if event.event_type == 'PersonalEvent' %}
                      <li>{{event.event_title|title}}-{{event.event_start_datetime | date:"M d "}}</li>
                    {% else %}
                      <li>{{event.event_title|title}}-{{event.event_start_datetime | date:"M d, Y"}}</li>
                {% endif %}

                {% current_user_event_count request.user.id child_name.to_person_id event.id as count  %}

                Itemcount-({{count}}),

                {% current_user_event_pricelimit request.user.id child_name.to_person_id event.id as pricelimit  %}

                PriceLimit-({{pricelimit}}$)
            </div>
            {% else %}
              <div class="bg-success">
                {% if event.event_type == 'PersonalEvent' %}
                      <li>{{event.event_title|title}}-{{event.event_start_datetime | date:"M d "}}</li>
                    {% else %}
                      <li>{{event.event_title|title}}-{{event.event_start_datetime | date:"M d, Y"}}</li>
                {% endif %}

                {% current_user_event_count request.user.id child_name.to_person_id event.id as count  %}

                Itemcount-({{count}}),

                {% current_user_event_pricelimit request.user.id child_name.to_person_id event.id as pricelimit  %}

                PriceLimit-({{pricelimit}}$)
            </div>
            {% endif %}



          {% endfor %}
            </ul>
            {% else %}
            <div>For creating Event...Contact To Admin !!!</div>
            {% endif %}
         </div>


       {% endfor %}


    {% endif %}
      </div>
   </div>

   <div class = "form-group">
      <div class = "col-sm-offset-2 col-sm-10">
         <button type="submit" class = "btn btn-primary">Next</button>
      </div>
   </div>

</form>

{% endblock content %}
