{% extends "header.html" %}
{% block content %}
{% load basket_total %}

<form class = "form-horizontal" action="." method="post">
{% csrf_token %}
   <div class = "form-group">
      <div class = "col-sm-offset-2 col-sm-10">
    {% if user.is_authenticated %}

    <strong>Welcome, </strong>{{request.user.username}},to the Cinnamonhills Gift store
    {% parent_student_name  request.user as child_names %}
      {% if child_names %}
      {% for child_name in child_names %}

         <div>
            <h3>
            {{child_name.to_person.user.username|title}}
            </h3>

            {% student_event child_name.to_person_id as events %}
              {% if events %}

            <ul>
            {% for event in events %}
              <li>{{event.event_title|title}}-{{event.event_start_datetime | date:"M d, Y"}}</li>

              {% current_user_event_count request.user.id child_name.to_person_id event.id as count  %}
              Itemcount({{count}}),

              {% current_user_event_pricelimit request.user.id child_name.to_person_id event.id as pricelimit  %}

              PriceLimit-{{pricelimit}}$



            {% endfor %}
            </ul>
            {% else %}

            <div class="alert alert-warning">Either Events is not created by Admin nor in Event Range...</div>

            {% endif %}

         </div>
       {% endfor %}
    {% else %}
    <div>Contact To Admin!!!</div>
    {% endif %}
    {% endif %}
      </div>
   </div>
   
   <div class = "form-group">
      <div class = "col-sm-offset-2 col-sm-10">
         <button type="submit" class = "btn btn-primary">Next</button>
      </div>
   </div>
	
</form>
        
{% endblock content %}