{% extends "base.html" %}
{% block content %}
{% load thumbnail %}
{% load basket_total %}
{% csrf_token %}

<div class="messages" style="margin-top: 3cm;">
    {% if messages %}
    {% for message in messages %}
    <div class='alert alert-{% if message.tags %}{{ message.tags }}{% endif %}'>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="page_inner">

    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="active">Basket</li>
    </ul>
    <div class="page-header action">
    <h1>Basket</h1>
    </div>

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>Pick Payment Option</b></h4>
        </div>
        <div class="modal-body">
           <div class="checkbox">
                <label><input type="checkbox" name="moneyorder" id="moneyorder">Money order or Check </label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled="disabled"  name="creditcard" id="creditcard">Creditcard</label>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default paymentsubmit" data-dismiss="modal">Submit</button>
        </div>
      </div>
      
    </div>
  </div>

<div id="messages_exceed" style="display: none">
   <div class="alert alert-danger  fade in">
            <a class="messages_exceed_close" data-dismiss="alert" href="#">×</a>
            <div class="alertinner wicon">You have reach upto limit
                        <i class="icon-exclamation-sign"></i>
            </div>
        </div>
</div>

<div class="alert alert-success fade in send_mail_successfully" style="display: none">
    <a href="#" class="send_mail_successfully_close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> Your Product is ready for Dispatch.
</div>
    <div class="content">
        <div id="promotions">
            
        </div>
        <div id="content_inner">
        <div class="basket-title hidden-xs">
            <div class="row">
                <h2 class="col-sm-6 h3">Items to buy now</h2>
                <p class="col-sm-3 h3">Quantity</p>
                <p class="col-sm-1 h3 align-right">Price</p>
                <p class="col-sm-2 h3 align-right">Total</p>
            </div>
        </div>
        <form action="." method="post" class="basket_summary" id="basket_formset">
           
            <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="1"><input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="1"><input id="id_form-MIN_NUM_FORMS" name="form-MIN_NUM_FORMS" type="hidden" value="0"><input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="1000">
            {% for prt in products %}
            <div class="basket-items" id="product_{{prt.id}}">
                <div class="row" >
                    <div class="col-sm-2">
                        <input id="id_form-0-id" name="form-0-id" type="hidden" value="2873">
                        {% if prt.product.product_image %}

                        {% thumbnail prt.product.product_image.image "100x100" crop="center" as im %}
                        <img src="{{im.url}}" width="{{im.width}}" height="{{ im.height }}">
                        {% endthumbnail %}

                    {% else %}
                    <img src="http://placehold.it/320x150" alt="" width="50" height="50">
                    {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <h3><a href="">{{prt.product}}</a></h3>
                   </div>
                    <div class="col-sm-3">
                        <div class="checkout-quantity">
                            <div class="input-group  ">
                                <input class="form-control" 
                                id="id-quantity_{{prt.product.id}}" name="id-quantity" type="number" value="{{prt.quantity}}">
                            <span class="input-group-btn">
                                <button class="btn btn-default update_product" type="button" data-loading-text="Updating..." data-value="{{prt.product.id}}" >Update</button>
                            </span>
                            </div>
                        </div>
                            <div>
                                <a href="#" data-id="0" data-behaviours="remove" class="inline remove_from_cart" data-value="{{prt.product.id}}">Remove <input type="hidden" id="cart_id" value="{{prt.id}}"></a>
                               
                                <div style="display:none">
                                    <input id="id_form-0-save_for_later" name="form-0-save_for_later" type="checkbox">
                                    <input id="id_form-0-DELETE" name="form-0-DELETE" type="checkbox">
                                </div>
                                
                            </div>

                    </div>
                    <div class="col-sm-1">
                    <p class="price_color align-right product_price" value="{{product.product_price}}">{{prt.price}}
                    </p>
                    </div>
                    <div class="col-sm-2">
                    {% quantity_price_total  prt as to_pr %}
                    <p class="price_color align-right product_total">{{to_pr}}
                    </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </form>
    <div class="row">
    <div class="col-sm-6">
        <div id="voucher_form_container" style="display:none">
            <form id="voucher_form" action="" method="post">
            
        <div class="form-group">
            <label for="id_code" class=" control-label required">
                Code
            </label>
            <div class="">
                <input class="form-control" id="id_code" maxlength="128" name="code" type="text">
            </div>
        </div>
        <button type="submit" class="btn btn-info" data-loading-text="Adding...">Add voucher</button>
        or <a href="#" id="voucher_form_cancel">cancel</a>
    </form>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>Totals</h2>
    </div>
<div id="basket_totals">
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th colspan="2"><h3>Basket</h3></th>
            </tr>
            <tr>
                <th class="total">Basket total</th>
                {% basket_total  products as total %}
                <th class="total align-right basket_total">{{total}}</th>
                </tr>
        </tbody>
    </table>
</div>
</div>
</div>

{% if not status  %}
<div class="form-group clearfix">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
        <button type="button" class="btn btn-info btn-lg processd_to_checkout" data-toggle="modal"  >Proceed to checkout</button>
        </div>
    </div>
</div>
{% endif %}
</div>
</div>

</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {

$( ".remove_from_cart" ).click(function() {
    var product_id = $(this).attr("data-value")
    var cart_id = $(this).children(':first').val()
    $.ajax({
      type: "POST",
      url: "{% url 'remove_frpm_cart' %}",
      data: {'product_id':product_id,'cart_id':cart_id, 'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
      dataType : "json",
      success: function(data){
        if(data.status){
            $('#product_'+ parseInt(data.cart_id) ).remove()
        }

      }
    });
});

$( ".update_product" ).click(function() {
    var save_later= $(this).data("value")
    var quantity = $("#id-quantity_"+save_later).val()
    var product_price = $(".product_price").text()
    var total_price = parseInt(product_price)*parseInt(quantity)
    $.ajax({
      type: "POST",
      url: "{% url 'update_product' %}",
      data: {'save_later':save_later,'quantity':quantity, 'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
      dataType : "json",
      success: function(data){
        location.reload();
      }
    });
});



$(".processd_to_checkout").click(function() {
    $.ajax({
      type: "POST",
      url: "{% url 'processd_to_checkout' %}",
      data: {'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
      dataType : "json",
      success: function(data){
        console.log(data.status)
        if(data.status=='uptoresult'){
            $('#messages_exceed').show()
        }
        if(data.status=='true'){
            
            $('#myModal').modal('show') 
       }

      }
    });
});

$('.messages_exceed_close').click(function(){
    $('#messages_exceed').hide()
});

$('.paymentsubmit').click(function(){
    if ($('#moneyorder').is(':checked')){
        $.ajax({
              type: "POST",
              url: "{% url 'sendmail_to_admin' %}",
              data: {'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
              dataType : "json",
              success: function(data){

                if(data.status=='send_mail'){
                    $('.send_mail_successfully').show()
                }
              }
        });
    }
});

$(".send_mail_successfully_close").click(function(){
     location.reload();
});


});
</script>
{% endblock %}