{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                {% for category in categories %}
                    <a href="#" class="list-group-item">{{category.title}}</a>
                {% endfor %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="thumbnail">
                    {% if product.product_image %}

                        {% thumbnail product.product_image.image "100x100" crop="center" as im %}
                        <img src="{{im.url}}" width="{{im.width}}" height="{{ im.height }}">
                        {% endthumbnail %}

                    {% else %}
                    <img src="http://placehold.it/320x150" alt="">
                    {% endif %}
                    <div class="caption-full">
                        <h4 class="pull-right">${{product.product_price}}</h4>
                        <h4><a href="#">{{product.product_name}}</a>
                        </h4>
                        <p>{{product.product_description}}</p>
                    </div>
                    <div class="text-left">
                    <form method="POST" action=".">
                    {% csrf_token %}
                        <input type="hidden" id="add_basket" name="add_basket" value="{{product.id}}">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>

                    </div>

                </div>
            </div>
        </div>
{% endblock content %}
